@using IdentityServer4.Extensions

@{
    string name = null;
    if (!true.Equals(ViewData["signed-out"]))
    {
        name = Context.User?.GetDisplayName();
    }
}

<div class="nav-page">
    <nav class="c-header c-header-light c-header-fixed c-header-with-subheader">

        <a href="~/">
            <img src="~/img/dwh2.png" class="icon-banner" height="40px" />
        </a>

        <ul class="d-md-down-none mr-auto c-header-nav">
            <li class="px-3 c-header-nav-item">
                <a class="c-header-nav-link active" href="https://dwh.nascop.org/newportal/">Home</a>
            </li>

            @if (!string.IsNullOrWhiteSpace(name))
            {
                <li class="px-3 c-header-nav-item">
                    <a href="#" class="nav-link active" data-toggle="dropdown">@name <b class="caret"></b></a>

                    <div class="dropdown-menu">
                        <a class="dropdown-item" asp-action="Logout" asp-controller="Account">Logout</a>
                    </div>
                </li>
            }
        </ul>
    </nav>
</div>
