<div class="col-md-6">
    <div class="card-group">
        <div class="card mx-4">
            <div class="card-body p-4">
                <h1>ConfirmEmail</h1>

                <p>
                    <div>
                        Thank you for confirming your email
                    </div>
                </p>
            </div>
        </div>
    </div>
</div>