<div class="col-md-8">
    <div class="card-group">
        <div class="card mx-4">
            <div class="card-body p-4">
                <h1>Forgot Password Confirmation</h1>
                <p>The link has been sent, please check your email to reset your password.</p>
            </div>
        </div>
    </div>
</div>
