@model Dwh.IS4Host.ViewModels.ResetPasswordModel

<div class="col-md-6">
    <div class="card-group">
        <div class="card mx-4">
            <div class="card-body p-4">
                <h1>Reset Password</h1>
                <p class="text-muted">Reset account password</p>

                <form asp-action="ResetPassword">
                    <div asp-validation-summary="All" class="text-danger"></div>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <svg class="c-icon">
                                    <use xlink:href="~/vendors/coreui/icons/svg/free.svg#cil-user"></use>
                                </svg>
                            </span>
                        </div>
                        <input class="form-control" type="password" placeholder="Password" asp-for="Password">
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>


                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <svg class="c-icon">
                                    <use xlink:href="~/vendors/coreui/icons/svg/free.svg#cil-user"></use>
                                </svg>
                            </span>
                        </div>
                        <input class="form-control" type="password" placeholder="Confirm Password" asp-for="ConfirmPassword">
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                    <input type="hidden" asp-for="Email" class="form-control" />
                    <input type="hidden" asp-for="Token" class="form-control" />

                    <div class="row">
                        <div class="col-6">
                            <button class="btn btn-primary px-4" type="submit" name="button" value="Create">Create</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
