<div class="col-md-8">
    <div class="card-group">
        <div class="card mx-4">
            <div class="card-body p-4">
                <h4>Forgot Password Email Not Found</h4>

                <p>
                    <div>
                        Click <a asp-action="ForgotPassword">here</a> to return to the reset password.
                    </div>
                </p>
            </div>
        </div>
    </div>
</div>
