@using System.Diagnostics

@{
    var version = FileVersionInfo.GetVersionInfo(typeof(IdentityServer4.Hosting.IdentityServerMiddleware).Assembly.Location).ProductVersion.Split('+').First();
}

<div class="fade-in">
    <div class="col-md-12">
        <div class="card mx-4">
            <div class="card-body p-4">
                <h1>
                    Welcome to the National Data Warehouse
                </h1>
                
                <ul>
                    <li>
                        Click <a href="~/grants">here</a> to manage your stored grants.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
